<ion-view view-title="PRODUCTO">
  <ion-content>
    <div class="list card">
      <div class="item item-body">
        <img src="{{producto.imagen}}" class="full-image">
        <div class="list">
          <label class="item item-input">
            <b><span class="input-label">Nombre:</span></b>
            <input type="text" ng-model="producto.nombre">
          </label>
          <label class="item item-input">
            <b><span class="input-label">Precio:</span></b>
            <!-- <i class="icon ion-cash"></i> -->
            <input type="text" ng-model="producto.precio">
          </label>
          <label class="item item-input">
            <input type="number" placeholder="Ingrese cantidad" ng-model="cantidad" >
          </label>
        </div>
        <p>
          {{producto.descripcion}}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button class="button button-block button-dark" ng-click="agregar(producto.nombre, producto.precio, cantidad)" ui-sref="productos({ p_categoriaId: categoriaId })">Seleccionar</button>
      </div>
      <div class="col">
        <button class="button button-block button-assertive" ui-sref="productos">Atras</button>
      </div>
    </div>
  </ion-content>
</ion-view>
