<ion-view view-title="PROMOCIONES">
  <ion-content scroll="false">
    <!-- <ion-slides  options="options" slider="data.slider">
      <ion-slide-page>
        <img src="http://127.0.0.1:8888/HeladeriaBambiWeb/resources/img_promociones/1.jpg" alt="" />
      </ion-slide-page>
      <ion-slide-page>
        <img src="http://127.0.0.1:8888/HeladeriaBambiWeb/resources/img_promociones/2.jpg" alt="" />
      </ion-slide-page>
      <ion-slide-page>
        <img src="http://127.0.0.1:8888/HeladeriaBambiWeb/resources/img_promociones/3.jpg" alt="" />
      </ion-slide-page>
      <ion-slide-page>
        <img src="http://127.0.0.1:8888/HeladeriaBambiWeb/resources/img_promociones/4.jpg" alt="" />
      </ion-slide-page>
        <button class="button button-block button-dark" ui-sref="mesas">Volver</button>
    </ion-slides> -->
    <ion-slide-box>
        <ion-slide >
            <img ng-src="http://192.168.0.10:8888/HeladeriaBambiWeb/resources/img_promociones/4.jpg" style="width:300px;height:300px;margin:auto;display:block" >
        </ion-slide>
        <ion-slide >
            <img ng-src="http://192.168.0.10:8888/HeladeriaBambiWeb/resources/img_promociones/3.jpg" style="width:300px;height:300px;margin:auto;display:block" >
        </ion-slide>
        <ion-slide >
            <img ng-src="http://192.168.0.10:8888/HeladeriaBambiWeb/resources/img_promociones/2.jpg" style="width:300px;height:300px;margin:auto;display:block" >
        </ion-slide>
        <ion-slide >
            <img ng-src="http://192.168.0.10:8888/HeladeriaBambiWeb/resources/img_promociones/1.jpg" style="width:300px;height:300px;margin:auto;display:block" >
        </ion-slide>
    </ion-slide-box>

    <button class="button button-block button-dark" ui-sref="mesas">Volver</button>

</ion-content>
</ion-view>
